#intro-block{
    background-color: #ffc107;
    
}
.navbar-brand{
    font-family: Qwigley;
    padding-left: 20px;
    font-size: 40px;
}
.sln-logo-pic{
    margin: 30px;
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
}

.navbar-nav{
    margin-left: auto;
   
}

.nav-item{
    padding: 0 10px;
}

.sln-name-block{
    background-color: #1e212d;
    padding-top: 10px;
    height: 120px;
    text-align: center;
    border: solid 10px rgb(20, 20, 19);
    margin-top: 0px;
}
.sln_sig_building_img{
    width: 400px;
    height: 400px;
    position: relative;
    top: 80px;
    left: 80px;
    border: solid black 5px;
}

h1{
    font-family: Mate SC;
    color: antiquewhite;
    padding: 10px;
    font-size: large;
    
}

h2{
    font-family: Qwigley;
    color: #e48900;
    font-size: 80px;
    margin-top: -105px;
    padding: 50px 20px;
}
#caption{
    color: #8e9775;
    margin-top: -96px;
    padding-left: 80px;
    
}

#Heading-1{
    padding-top: 150px;
    color: #bf1363;
    font-size: 35px;
}
#text-container-fluid{
    color: #1e212d;
    font-size: 18px;
}
.container-fluid{
    font-family: Heebo;
    color: black;
    margin-top: 20px;
    margin-left: -12px;
    
}
/*
.major-features{
    padding: 120px 30px;
    text-align: center;
    line-height: 0;
}
.h3-heading{
    font-size: large;
}
.h3-caption{
    font-size: small;
}*/
#Project-FloorPlans{
    padding: 3% 3% 3%;
    margin-top: 120px;
    background-color: #fff;
}
.proj-feat{
    padding: 0% 5%;
}
#Location{
    padding: 3% 4% 3% 4%;
}
.loc-table{
    padding:2% 0 0 35%;
}
.loc-block{
    padding: 0 3% 0 3%;
}
/*
.slide-show-img{
    height: 600px;
    width: 1200px;
    padding: 50px 0 50px 350px;
    margin-top: 80px;
}*/
.icon{
    color: #fb3640;
}
.icon:hover{
    color: #ff4c68;
}
h5{
    color: #bf1363;
}
p{
    color: #ffc107;
}
#footer{
    background-color: #1e212d;
    padding: 3% 3%;
    text-align: center;
}
#footer-text{
    color: #ffc107;
    text-align: center;
}
.social-icons{
    color: #fff;
    margin: 0px 10px;
}
/*additional specifications block*/
#specifications-block{
    background-color: #ffc107;
}
#specifications-block-section{
    font-size: large;
}

/*mobile view*/
@media (max-width:764px) {
    #Heading-1{
        padding-top: 150px;
        color: #bf1363;
        font-size: 35px;
        text-align: center;
    }
    #text-container-fluid{
        text-align: center;
        font-size: small;
    }
    .loc-table{
        padding:2% 0 0 25%;
    }
}
@media (max-width:360px) {
    .sln_sig_building_img{
        width: 250px;
        height: 300px;
        position: relative;
        top: 80px;
        left: 45px;
        border: solid black 5px;
    }
    #text-container-fluid{
        text-align: center;
        font-size: medium;
    }
    #Project-FloorPlans{
        padding: 5px 0 0 0;
        margin-top: 10px;
    }
    .proj-feat{
        text-align: left;
        font-size: medium;
    }
    #Heading-1{
        padding-top: 100px;
        color: #bf1363;
        font-size: 30px;
        text-align: center;
    }
    .slide-show-img{
        height: 300px;
        width: 600px;
        padding: 50px 0 50px 350px;
        margin-top: 80px;
    }
    .loc-table{
        padding-left:2%;
    }   
}